{% extends "shared/base.html" %}


{% block title %}
  <title>Job Board</title>
{% endblock %}

{% block content %}
  {% with msg=msg %}
    {% include "components/alerts.html" %}
  {% endwith %}
  <div class="container">
  <div class="row">
    <div class="col">
      <h1 class="display-5">Search Jobs</h1>
    </div>
    <p></p>
    <form class="d-flex" action="/jobs-webapp/search/">
      <input class="form-control me-2" name="query" id="autocomplete" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <p></p>
  </div>
  <div class="row">
      {% for job in jobs %}
        <div class="col-lg-4 col-md-3 col-sm-10 mr-auto">
          {% with obj=job %}
      		{% include "jobs/cards.html" %}
    	    {% endwith %}

          {% if loop.index %3 %}
            </div>
          {% else %}
            </div></div><br><div class="row">
          {% endif %}
      {% endfor %}
  </div>
</div>
{% endblock %}
