{% extends "shared/base.html" %}


{% block title %}
  <title>Doc Detail</title>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-5">Object Prediction</h1>
        </div>
    </div>
    <div class="container" align="center">
        <img src="{{ url_for('static', path=img_path) }}" alt="Word Cloud" class="center" style='height: 50%; width: 50%; object-fit: contain'>
        <h1><a href="/objects-webapp/download/{{img_path}}" target="blank"><button class='btn btn-primary' type="submit">Download</button></a> </h1>
    </div>

</div>
{% endblock %}
